.btn-xlarge {
    padding: 30px 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
border-radius: 50px;
border: 2px solid darkgreen;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-image:url(display.jpg) !important;
  background-size: cover;
}
.btn-sm{
  margin-top: 10px;
  border-radius: 20px;
  background-color: white;
  margin-left: -1270px;
  border :1px solid skyblue;
}
